.create-task-container {
  background-color: #f0f5ff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 255, 0.1);
  width: 600px;
  margin-top: 50px;
  transition: box-shadow 0.3s;
}

.create-task-container:hover,
.create-task-container:active {
  box-shadow: 0 0 10px rgba(0, 0, 255, 0.5);
}

h1 {
  color: #004080;
  text-align: center;
}

.dashboard-form {
  display: flex;
  flex-direction: column;
}

label {
  color: #0066cc; /* Medium Blue */
  margin-top: 10px;
}

input,
textarea,
select {
  padding: 8px;
  margin-bottom: 10px;
  border: 1px solid #0066cc;
  border-radius: 5px;
}

button {
  background-color: #004080;
  color: #ffffff;
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #00264d;
}
