.navbar-ul {
  display: flex;
  flex-direction: column;

  list-style-type: none;
  background-color: #f8f9fc;
  padding-right: 60px;
  padding-left: 31px;
  padding-top: 20px;
  height: 100vh;
}

a {
  color: black;
  font-size: 22px;
}

li {
  line-height: 1.5;
}
